# Ignorar archivos de índice grandes generados por EPT, GNAT, etc.
**/*.idx
**/index_*.idx
main_memory/EPT/*.idx
main_memory/GNAT/**/*.idx
secondary_memory/EGNAT/egn_indexes/*
secondary_memory/MB_plus_tree/*.mbpt_index
secondary_memory/MB_plus_tree/*.mbpt_raf
secondary_memory/M-index_star/midx_indexes/*

# Ignorar archivos de log
**/*_benchmark.log
**/*_test.log
**/*.log
nohup.out

# Ignorar ejecutables de test
**/*_test
!**/*_test.cpp

# Ignorar cualquier entorno virtual
venv/
**/venv/
datasets/**/venv/
